<p>Total results: <%= total_results %>
<p>Total results showing: <%= total_ids %>

<% while counter < total_results %>

<p>Jobbed ID: <%= counter %></p>
<p>Job Title: <%= jobTitles[counter] %></p>
<p>Job ID: <%= jobIds[counter] %></p>
<p>Min salary: <%= minimumSalarys[counter] %></p>
<p>Max salary: <%= maximumSalarys[counter] %></p>
<p>Job Description: <%= jobDescriptions[counter] %></p>
<p>Employer Name: <%= employerNames[counter] %></p>

<% counter += 1 %>
<% end %>


