<h1> result! </h1>

<p>Job Title: <%= jobTitle %></p>
<p>Job ID: <%= jobId %></p>
<p>Min salary: <%= minimumSalary %></p>
<p>Max salary: <%= maximumSalary %></p>
<p>Job Description: <%= jobDescription %></p>
<p>Employer Name: <%= employerName %></p>